<%- include('./partials/header.ejs'); %>
  </header>
  <div class="createNewLink"><a href="tasks/new">Create New Task</a></div>
  <div class="container">
    <table class="table-responsive-lg table-bordered">
      <thead class="thead-default">
        <tr>
          <th>Client</th>
          <th>Job Name</th>
          <th>Job Number</th>
          <th>Job Panel</th>
          <th>Job Task</th>
          <th>Notes</th>
          <th>Completed</th>
          <th>Due Date</th>
          <th>Created At</th>
          <th>Update Task</th>
          <th>Delete Task</th>
        </tr>
      </thead>
      <tbody>
        <% tasks.forEach(task => { %>
        <tr>
          <td><%= task.client %><br /></td>
          <td><%= task.jobName %><br /></td>
          <td><%= task.jobNumber %><br /></td>
          <td><%= task.jobPanel %><br /></td>
          <td><%= task.jobTask %><br /></td>
          <td><%= task.notes %><br /></td>
          <td><%= task.completed %><br /></td>
          <td><%= task.dueDate %><br /></td>
          <td><%= task.createdAt %><br /></td>
          <td><a href="/tasks/edit/<%= task.id %>">Update</a></td>
          <td><a href="/tasks/delete/<%= task.id %>">Delete</a></td>
        </tr>
        <% }); %>
      </tbody>
    </table>
  </div>
</body>
<%- include('./partials/footer.ejs'); %>